/* Custom style sheet for Udacity Nanodegree Project 2 Interactive Resume */
/* Andrew R Chen, Oct 2014
/* ------------------------------------------------------------------------

/* GLOBAL STYLES */
/* Colors */
.resumeRed {
	background: linear-gradient( 
					45deg,
					#a21b1a,
					#a42117);
}
.resumeRed2 {
	background: #a42117;
}
.resumeBlue {
	background: #081a4f;
}
.resumeMaroon {
	background: #3e0f11;
}
.resumeLiteBlue {
	background: #887cc0;
}
.resumeGlass {
	background: #b6c4db;
}
.resumeSteel {
	background: #d9c9cc;
}
.resumeGray {
	background: #88787b;
}
.resumeOrange {
	background: #e35b31;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?cahfeu');
	src:url('../fonts/icomoon.eot?#iefixcahfeu') format('embedded-opentype'),
		url('../fonts/icomoon.woff?cahfeu') format('woff'),
		url('../fonts/icomoon.ttf?cahfeu') format('truetype'),
		url('../fonts/icomoon.svg?cahfeu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'], [class*=' icon-'] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-handlogo:before {
	content: '\e617';
}
.icon-location:before {
	content: '\e600';
}
.icon-screen:before {
	content: '\e609';
}
.icon-mobile:before {
	content: '\e60a';
}
.icon-tablet:before {
	content: '\e601';
}
.icon-mail:before {
	content: '\e611';
}
.icon-googleplus:before {
	content: '\e602';
}
.icon-facebook:before {
	content: '\e613';
}
.icon-twitter:before {
	content: '\e615';
}
.icon-github:before {
	content: '\e603';
}
.icon-linkedin:before {
	content: '\e604';
}
.icon-mobile2:before {
	content: '\e605';
}
.icon-mail2:before {
	content: '\e606';
}
.icon-location2:before {
	content: '\e607';
}
.icon-github2:before {
	content: '\e608';
}
.icon-github3:before {
	content: '\e60b';
}
.icon-twitter2:before {
	content: '\e60c';
}
.icon-twitter3:before {
	content: '\e60d';
}
.icon-facebook2:before {
	content: '\e60e';
}
.icon-facebook3:before {
	content: '\e60f';
}
.icon-googleplus2:before {
	content: '\e610';
}
.icon-googleplus3:before {
	content: '\e612';
}
.icon-linkedin2:before {
	content: '\e614';
}
.icon-linkedin3:before {
	content: '\e616';
}

body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	/*background-color:#a21b1a; */
	background-color:#3e0f11;
	background-size:16px 16px;
	font: 1em 'Ubuntu', sans-serif;
}

h3 {
	font: 4em 'Ubuntu Condensed', sans-serif;
	color: #887cc0;
}

.flex-box {
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}

/* Header styles */
header {
	background: gray;
	/*color: #B6C4DB;*/
	color: #887cc0;
	font: 2em 'Ubuntu Condensed', sans-serif;
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: column wrap;
  	-webkit-flex-flow: column wrap;
  	flex-flow: column wrap;

  	align-items: center;
}

.welcome-message {
	font: italic 300 1em 'Ubuntu', sans-serif;
	margin-top: 1em;
}

.blurb-message {
	min-width: 40%;
	font: 300 1em 'Ubuntu', sans-serif;
	color: #fff;
}
.teaser-message span {
	margin-bottom: 1em;
}

.teaser-message{
	font: 300 1.5em 'Ubuntu', sans-serif;
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: column wrap;
  	-webkit-flex-flow: column wrap;
  	flex-flow: column wrap;

  	justify-content: flex-end;
}

.teaserLogo {
	display: inline-block;
	color: #a42117;

	transform: rotate(90deg);
}

#name {
	font: bold 4em 'Ubuntu', sans-serif;
	color: #fff;
	text-align: center;
	padding: 10px;
}

header>span {
	margin-bottom: 3em;
}

/* Contacts styles */
#topContacts {
	list-style: none;
	width: 100%;
	/*height: 5em;*/
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;

  	padding: 1em;
  	justify-content: center;
  	align-items: center;

}

#topContacts li {
	margin: .5em;
	padding: .5em;
	color: #fff;
	border-radius: 2em;
	font: 1.3em 'Ubuntu Condensed', sans-serif;
}

#topContacts .contactBadge {
	font-size: 1.5em;
	margin-top: 50%;
	margin-bottom: 50%;
}

#topContacts li:hover .contactBadge {
	display: none;
}
#topContacts li:hover .contactItem {
	display: inherit;
	font-size: .7em;
}

.contactItem {
	display: none;
	margin-right: .5em;

}

#topContacts li span {

}


/* Main Element styles */
#main {
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;

  	justify-content: center;

}

#main div {
	padding: 10px;
	margin: 10px;
}

#main>* {
	border-radius: 1em;
}


/* Project styles */
#projects {
	width: 100%;
	height: 400px;
	border-radius: 1em;
	border: 1em solid #fff;

	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;
}

#projects>* {
	border: 1em solid #b6c4db;
	border-radius: 2em;
}

#projectScreen {
	min-width: 300px;
	min-height: 300px;
	background: #000;
}

.projectDetail {
	overflow: scroll; /* would prefer to hide the damn scrollbar on scroll */
	min-height: 300px;

}



/* Education styles */
#education {
	width: 45%;
	background: #fff;
	position: relative;
	border-radius:.5em;

	overflow: scroll; /* would prefer to hide the damn scrollbar on scroll */
	overflow-x: hidden; /* hides the list content and keeps stops scrolling on x-axis */ 

	/*
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap; */


}

#schools {
	overflow: auto;

}

.education-entry {
	background: linear-gradient(
							to top right,
							#88787b,
							#d9c9cc);
	border-radius: 1em;
	font-size: 2em;

}

/* Work Experience styles */
#workExperience {
	width: 45%;
	background: #fff;
	position: relative;
	border-radius:.5em;
	overflow: scroll; /* would prefer to hide the damn scrollbar on scroll */
	overflow-x: hidden;
}

#workEntries {
	overflow: auto;
	font-size: 2em;
}

/* Skills styles */
#skillsChart {
	width: 80%;
	
}

.chartContainer {
	border: 1em solid #b6c4db;
	border-radius: 2em;
	position: relative;

	transition: height 1s ease;

}

.chartSelect {
	border-color: #fff;
}

.chartBtn:hover {
	background: #fff;
}

.chartBtn {
	font-size: 1.5em;
	width: 5em;
	height: 3em;
	background: #b6c4db;
	border-radius: .5em;
	position: absolute;
	top: -5px;
	right: -5px;
	
}
.chartBtn span  {
	position: absolute;
	top: 50%;
	left: 50%;
	    transform: translate(-50%, -50%);

}

.rolledChart {
	height: 100px;

		transition: height 1s ease;

}

#skills {

}

#skills li {
	font: 3em 'Ubuntu Condensed', sans-serif;
	margin: 1em;
	color: #e35b31;
}

/*
#workExperience:before,
#skillsChart:before {
	content: '';
	background: linear-gradient( 
					to top right,
					#b6c4db,
					#fff);
	opacity: .85;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 2;
	border-radius:.5em;
}

#workExperience:hover:before,
#skillsChart:hover:before {
	z-index: -1;
} */

.wrapper {
	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-flow: row wrap;
  	-webkit-flex-flow: row wrap;
  	flex-flow: row wrap;

  	justify-content:	space-around;

  	width: 100%;
	border-radius: 1em;
	border: 1em solid #fff;
}



/* Map styles */
#mapDiv {
	display: none;
}



/* Footer styles */
#letsConnect {
	font: 2em 'Ubuntu Mono', sans-serif; 
	text-align: center;
	background: #081A4F;
	color: #d9c9cc;
}

#letsConnect div {
	font-size: 3em;
	width: 10em;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid orange;
	border-radius: 5px;
}




